Error 404
{% extends "base.html.twig" %}

{% block title %}Erreur 404
{% endblock %}

{% block content %}
	<div id="content" class="container-fluid">
		<main class="p-5">
			<img src="https://image.lexica.art/full_jpg/d231f1a8-6709-443a-b68c-dbf4e3dbbb74" alt="">
			<h2>Page non trouvée</h2>
			<p>Je part de ce pas à la conquette de cette histoire</p>
		</main>
	</div>
{% endblock %}
