{% extends './Layout/base.twig' %}
{% block title %}

	<title>
		Erreur 404
	</title>
{% endblock %}
{% block styles %}
	<link rel="stylesheet" href="public\css\post/post.css">
{% endblock %}
{% block header %}
	<header class="masthead" style="background-image: url('https://lexica.art/prompt/4a11af06-5ab7-4871-823f-279aa3fbd11f'); background-repeat: no-repeat; background-position-y: -15rem;">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 align-content-center justify-content-center pt-5">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="post-heading">
						<h1 class="display-2">Erreur 404</h1>
						<span class="meta">
							<span class="meta">
								Nous parttons à la recherche de cette Erreur</span>
						</span>

						<q class="subheading">
							Je vous propose de voir un autre écrit
						</q>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
{% block content %}

	{% if message is defined and message is not empty %}
		<p class="text-light bg-success d-flex justify-content-center py-3">{{ message }}</p>
	{% endif %}
	<div id="content" class="container-fluid">
		<main class="p-5">
			<img src="https://image.lexica.art/full_jpg/d231f1a8-6709-443a-b68c-dbf4e3dbbb74" alt="">
			<h2>Page non trouvée</h2>
			<p>Je part de ce pas à la conquette de cette histoire</p>
		</main>
	</div>
{% endblock %}
