{% extends './Layout/base.twig' %}

{% block title %}
	<title>CGU</title>
{% endblock %}

{% block styles %}<link rel="stylesheet" href="public\css\cgu/cgu.css">
{% endblock %}

{% block header %}
	<header class="masthead" style="background-image: url('public/assets/img/CGU.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Conditions Générales d'Utilisation</h1>
						<span class="subheading">Veuillez lire attentivement les conditions d'utilisation avant d'utiliser le site.</span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
{% block content %}
	<article>
		<section>

			<h3>I. Introduction</h3>
			<p>Les présentes Conditions Générales d'Utilisation (CGU) régissent l'accès et l'utilisation du site web et de ses services associés, qui proposent des articles de blog sur divers sujets. Veuillez lire attentivement ces CGU avant d'accéder au site ou d'utiliser ses services. En accédant au site et en utilisant ses services, vous acceptez d'être lié par ces CGU. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser le site.</p>

			<h3>II. Accès au site et utilisation des services</h3>
			<ol>
				<li>Accès au site : Le site est accessible gratuitement à tous les utilisateurs disposant d'une connexion Internet. Cependant, nous nous réservons le droit de restreindre l'accès à certaines parties du site ou à certains services, sous réserve de conditions spécifiques.</li>
				<li>Utilisation des services : En utilisant les services du site, vous vous engagez à respecter les règles suivantes :
					<ul>
						<li>Vous êtes responsable de maintenir la confidentialité de vos identifiants de connexion.</li>
						<li>Vous vous engagez à ne pas utiliser les services à des fins illicites ou en violation de ces CGU.</li>
						<li>Vous acceptez de ne pas perturber le fonctionnement du site ou d'interférer avec les autres utilisateurs.</li>
						<li>Vous vous engagez à respecter les droits de propriété intellectuelle liés aux contenus du site.</li>
					</ul>
				</li>
			</ol>

			<h3>III. Propriété intellectuelle</h3>
			<p>Tous les contenus présents sur le site, y compris les articles, les images, les vidéos et les éléments graphiques, sont protégés par des droits de propriété intellectuelle. Vous ne pouvez pas reproduire, modifier, distribuer ou exploiter ces contenus sans autorisation préalable.</p>

			<h3>IV. Limitation de responsabilité</h3>
			<p>Nous mettons tout en œuvre pour assurer l'exactitude et la qualité des informations présentes sur le site, mais nous ne pouvons pas garantir leur exhaustivité ou leur fiabilité. En utilisant le site, vous reconnaissez que nous ne serons pas responsables des dommages directs ou indirects résultant de l'utilisation ou de l'impossibilité d'utilisation du site.</p>

			<h3>V. Modifications des CGU</h3>
			<p>Nous nous réservons le droit de modifier les présentes CGU à tout moment. Les modifications prendront effet dès leur publication sur le site. Il est de votre responsabilité de consulter régulièrement les CGU pour vous tenir informé des éventuelles mises à jour.</p>

			<h3>VI. Contact</h3>
			<p>Si vous avez des questions ou des préoccupations concernant les CGU, veuillez nous contacter à l'adresse suivante :
				<a href="contact">Getssone</a>
			</p>

			<h3>VII. Acceptation des CGU</h3>
			<p>En utilisant le site, vous déclarez avoir lu, compris et accepté les présentes Conditions Générales d'Utilisation.</p>


			<h3>Image de droit</h3>
			<p>Photo de
				<a href="https://unsplash.com/@lekoarts?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">LekoArts</a>
				sur
				<a href="https://unsplash.com/fr/photos/CCzQjvRWn_Q?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
				.</p>
		</section>
	</article>
{% endblock %}
