{% extends './Layout/base.twig' %}


{% block head %}
	<title>Contact
	</title>
{% endblock %}
{% block header %}
	<header class="masthead" style="background-image: url('public/assets/img/home-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Contact Me</h1>
						<span class="subheading">
							Do you have questions? I have answers</span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
{% block content %}
	<main class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<p>Vous souhaitez prendre contact avec moi ? Remplissez le formulaire ci-dessous pour m'envoyer un message et je vous répondrai dès que possible !</p>
					<div class="my-5">
						<!-- * * * * * * * * * * * * * * *-->
						<!-- * * SB Forms Contact Form * *-->
						<!-- * * * * * * * * * * * * * * *-->
						<!-- This form is pre-integrated with SB Forms.-->
						<!-- To make this form functional, sign up at-->
						<!-- https://startbootstrap.com/solution/contact-forms-->
						<!-- to get an API token!-->

							{% if app.request.getMethod() == 'POST' %}
							{% set name = app.request.post('name') %}
							{% set email = app.request.post('email') %}
							{% set phone = app.request.post('phone') %}
							{% set message = app.request.post('message') %}

							{% set errors = {} %}

								{% if name is empty %}
							{% set errors = errors|merge({'name': 'Un nom est requis'}) %}
							{% endif %}

								{% if email is empty %}
								{% set errors = errors|merge({'email': 'un E-mail est requis si vous souhaitez que je vous réponde 😄.'}) %}
							{% elseif not email|filter('email') %}
								{% set errors = errors|merge({'email': 'L\'email n\'est pas valide'}) %}
							{% endif %}

							{% if message is empty %}
								{% set errors = errors|merge({'message': "un message est requis si vous souhaitez que l'on échange sur un sujet 😄."}) %}
							{% endif %}

							{% if errors is empty %}
								{# Traitement des données et redirection vers une page de succès #}
								{% set successMessage = 'Le message a bien été envoyé!' %}
								{% include 'success.html.twig' %}
							{% endif %}
						{% endif %}
						<form id="contactForm" action="?p=home">
							<div class="form-floating">
								<input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required"/>
								<label for="name">Un nom
									<span class="align-top text-danger">
										<small>*</small>
									</span>
								</label>
								{% if errors.name %}
									<div class="invalid-feedback">{{ errors.name }}</div>
								{% endif %}
							</div>
							<div class="form-floating">
								<input class="form-control" id="email" type="email" placeholder="votrEmail@votreBoiteMailFavorite.fr..." data-sb-validations="required,email"/>
								<label for="email">E-mail
									<span class="align-top text-danger">
										<small>*</small>
									</span>
								</label>
								{% if errors.email %}
									<div class="invalid-feedback">{{ errors.email }}</div>
								{% endif %}
								<div class="invalid-feedback" data-sb-feedback="email:email">l'email n'est pas valide.</div>
							</div>
							<div class="form-floating">
								<input class="form-control" id="phone" type="tel" placeholder=" 06-xx-xx-xx-xx"/>
								<label for="phone">Téléphone
									<span class="align-top text-danger"></span>
								</label>
							</div>
							<div class="form-floating">
								<textarea class="form-control" id="message" placeholder="Dite moi votre besoin ... ✒" style="height: 12rem" data-sb-validations="required"></textarea>
								<label for="message">Message</label>
								{% if errors.message %}
									<div class="invalid-feedback">{{ errors.message }}</div>
								{% endif %}
							</div>
							<br/>
							<!-- Submit success message-->
							<!---->
							<!-- This is what your users will see when the form-->
							<!-- has successfully submitted-->
								<div class="d-none" id="submitSuccessMessage"> <div class="text-center mb-3">
									<div class="fw-bolder">Le message a bien été envoyé!</div>
								</div>
							</div>
							<!-- Submit error message-->
							<!---->
							<!-- This is what your users will see when there is-->
							<!-- an error submitting the form-->
								<div class="d-none" id="submitErrorMessage"> <div class="text-center text-danger mb-3">Le message à eu un souci d'envoi!</div>
							</div>
							<!-- Submit Button-->
							<button class="btn btn-primary text-uppercase {{ errors is empty ? 'disabled' : '' }}" id="submitButton" type="submit">Envoyer</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
