{% extends './Layout/base_unlogin.twig' %}

{% block title %}
	<title>Identification</title>
{% endblock %}

{% block styles %}
	<link href="public\css\login/login.css" rel="stylesheet"/>
{% endblock %}

{% block header %}
	<header class="masthead" style="background-image: url('https://static.vecteezy.com/system/resources/previews/001/218/592/large_2x/background-wallpaper-with-polygons-in-gradient-colors-vector.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Heureux de vous revoir</h1>
						<span class="subheading">Un blog pour apprendre les astuces Full-Stack</span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
{% block content %}

	{% if message is defined and message is not empty %}
		<p class="text-light bg-info d-flex justify-content-center py-3">{{ message|raw }}
		</p>
	{% endif %}

	<form action="logInAction" method="post">
		<div class="form-group">
			<label for="email_Login">Email address</label>
			<input type="email" name="email" class="form-control" id="email_Login" aria-describedby="emailHelp" placeholder="Enter email">
			<small id="emailHelp" class="form-text text-muted">Nous ne communiquerons jamais votre adresse électronique à qui que ce soit.</small>
		</div>
		<div class="form-group">
			<label for="password_Login">Password</label>
			<input type="password" name="password" class="form-control" id="password_Login" placeholder="Password">
		</div>
		<div class="d-flex justify-content-center">
			<button type="submit" class="btn btn-primary">Se Conecter</button>
		</div>

	</form>
{% endblock %}
