{% extends './Layout/base_unlogin.twig' %}

{% block title %}
	<title>Inscription</title>
{% endblock %}

{% block styles %}
	<link href="public\css\login\login.css" rel="stylesheet"/>
{% endblock %}

{% block header %}
	<header class="masthead" style="background-image: url('https://static.vecteezy.com/system/resources/previews/001/218/592/large_2x/background-wallpaper-with-polygons-in-gradient-colors-vector.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Bienvenu</h1>
						<span class="subheading">Un blog pour apprendre les astuces Full-Stack</span>
					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
{% block content %}

	{% if message is defined and message is not empty %}
		<p class="text-light bg-warning d-flex justify-content-center py-3">{{ message|raw }}
		</p>
	{% endif %}

	<form action="signInAction" method="post">
		<div class="form-group">
			<label for="username_Login">Alias
			</label>
			<input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Getssone" name="username" required>
			<small id="usernameHelp" class="form-text text-muted">Il servira uniquement pour vous dire "Bonjour" lors de votre connexion.</small>
		</div>
		<div class="form-group">
			<label for="email_Login">Email</label>
			<input type="email" class="form-control" id="email_Login" aria-describedby="emailHelp" placeholder="nom@exemple.com" name="email" required>
			<small id="emailHelp" class="form-text text-muted">Nous ne communiquerons jamais votre adresse électronique à qui que ce soit.</small>
		</div>
		<div class="form-group">
			<label for="first_name">Prénom
			</label>
			<input type="text" class="form-control" id="first_name" aria-describedby="first_nameHelp" placeholder="Gaetan" name="first_name" required>
			<small id="first_nameHelp" class="form-text text-muted">Il servira uniquement pour votre profil et en cas de perte de vos identifiant et mot de passe.</small>
		</div>
		<div class="form-group">
			<label for="last_name">Nom
			</label>
			<input type="text" class="form-control" id="last_name" aria-describedby="last_nameHelp" placeholder="Solis" name="last_name" required>
			<small id="last_nameHelp" class="form-text text-muted">Il servira uniquement pour votre profil et en cas de perte de vos identifiant et mot de passe.</small>
		</div>
		<div class="form-group">
			<label for="password_Login">Mot de passe</label>
			<input type="password" class="form-control" id="password_Login" placeholder="MonMotDePasseIncroyable" name="password" required>
		</div>
		<div class="form-group">
			<label for="check_Password_Login">Confirmez le mot de passe
			</label>
			<input type="password" class="form-control" id="check_Password_Login" placeholder="MonMotDePasseIncroyable" name="password_Confirmed" required>
		</div>
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="check_CGU" required>
			<label class="form-check-label" for="check_CGU">
				<small class="form-text text-muted">J'accepte les conditions d'utilisation<small></label>
				</div>

				<div class="d-flex justify-content-center">
					<button type="submit" class="btn btn-primary">Se Conecter</button>
				</div>


			</form>
		{% endblock %}
