<!doctype html>
<html lang="fr">
	{% include 'Layout/head.twig' %}
	<!-- Titre de l'onglet-->
	{{ block('title') }}
	{{ block('styles') }}
	<body>

		<!-- Navbar du Blog-->
		{% if user.id is defined %}
			{% include 'Layout/nav.twig' %}

		{% else %}
			{% include 'Layout/unlogin_nav.twig' %}
		{% 
		endif %}

		<!-- Titre de la page Blog-->
		{{ block('header')}}

		<!-- Contenu de la page Blog-->
		<article class="container">
			{{ block('content') }}
		</article>

		<!-- Footer-->
		{% include 'Layout/footer.twig' %}

	</body>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Core theme JS-->
	<script src="public/js/scripts.js"></script>
</html></body></html>
