{% block styles %}
	<link href="App/View/css2/footer.css" rel="stylesheet"/>
{% endblock %}
<!-- Footer -->
<footer class="border-top">
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-md-10 col-lg-8 col-xl-7">
				<ul class="list-inline text-center d-flex justify-content-center align-items-center">
					<li class="list-inline-item">
						<a href="public/assets/CV_Solis_Gaetan_Dev_Back_End_compressed.pdf">
							<span class="fa-stack fa-lg center ">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fa-solid fa-file-arrow-down fa-stack-1x fa-inverse"></i>
								{# style="font-size: 3rem;" #}
							</span>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://github.com/Getssone">
							<span class="fa-stack fa-lg center">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fab fa-github fa-stack-1x fa-inverse"></i>
							</span>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="http://localhost/P5/Code_p5/login">
							<span class="fa-stack fa-lg center">
								<i class="fas fa-circle fa-stack-2x"></i>
								<i class="fa-solid fa-gear fa-stack-1x fa-inverse"></i>
								{# style=" font-size: 3rem; " #}
							</span>
						</a>
					</li>
				</ul>
				<div class="small text-center text-muted fst-italic">Copyright &copy; Getssone Website 2023</div>
			</div>
		</div>
	</div>
</footer>
