.color-transition:before {
  animation: color-transition 5s infinite linear;
}

@keyframes color-transition {
  0% {
    background-color: #a77ba0;
  }
  33.33% {
    background-color: #a7957b;
  }
  66.66% {
    background-color: #a77b7b;
  }
  100% {
    background-color: #a77ba0;
  }
}
