.form-group {
  margin: 1rem;
}
.container_Info_Auteur {
  display: flex;
  justify-content: space-between;
  height: 6rem;

  p {
    margin-top: 0.2rem;
  }
}
.container_CardImage {
  display: flex;
  width: inherit;
  margin: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  .CardImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2rem;
    background: rgba(215, 215, 215, 0.3411764706);
    height: 10rem;
    width: 14rem;
    margin: 0rem 1rem;

    .form-group {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      padding-left: 0.8rem;
      align-items: center;
    }
    input {
      width: 10.1rem;

      border-color: transparent;
      border-radius: 0rem;
    }
  }
  img {
    border-radius: 2rem;
    height: 10rem;
    object-fit: cover;
  }
}
